tqdm
rotary_embedding_torch
transformers==4.19
tokenizers
inflect
progressbar
einops
unidecode
scipy
librosa
numpy==1.20.3
numba==0.51.0
torchaudio
threadpoolctl
llvmlite
appdirs
Flask[async]
Flask-RQ2
moviepy
pydub